@font-face {
    font-family: "Arial Rounded MT Bold";
    src: url("../font/arialroundedmtbold.ttf");
}

:root {
    --dark-1: hsl(0, 0%, 10%);
    --dark-2: hsl(0, 0%, 20%);
    --dark-3: hsl(0, 0%, 30%);
    --light-1: hsl(0, 0%, 90%);
    --blue: #608cab;
    --green: #72a079;
    --red: #bb4948;
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    font-size: clamp(12px, 2vw, 16px);
}

body {
    align-items: center;
    background-color: var(--dark-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.calculator {
    background-color: var(--dark-2);
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
    grid-template: 7rem repeat(5, 4rem) / repeat(4, 4rem);
    padding: 2rem;
}

.calculator > * {
    border-radius: 1rem;
}

.calculator #output {
    align-items: center;
    background-color: var(--green);
    color: var(--dark-2);
    display: flex;
    font-size: 3rem;
    grid-column: 1 / 5;
    justify-content: flex-end;
    margin-bottom: 1rem;
    overflow: hidden;
    padding: 0 1.5rem;
    text-wrap: nowrap;
}

.calculator .input {
    align-items: center;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    transition: opacity 0.25s;
}

.calculator .input:hover {
    cursor: pointer;
    opacity: 0.8;
}

.calculator .operation.delete.input {
    background-color: var(--red);
}

.calculator .operation.input {
    background-color: var(--blue);
    color: var(--dark-2);
}

.calculator .number.input {
    background-color: var(--dark-3);
    color: var(--light-1);
}

.calculator #equals.operation.input {
    grid-area: 5 / 4 / 7 / 4;
}

.calculator #zero.input {
    grid-column: 1 / 3;
}