@font-face {
  font-family: "Arial Rounded MT Bold";
  src: url("/arialroundedmtbold.ttf");
}

:root {
  --color-background: #1a1a1a;
  --color-surface: #333333;
  --color-subsurface: #4d4d4d;
  --color-text-primary: #cccccc;
  --color-text-secondary: #333333;
  --color-output: #72a079;
  --color-operation: #608cab;
  --color-delete: #bb4948;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: "Arial Rounded MT Bold", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  user-select: none;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 12px;
  }
}

body {
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.calculator {
  background-color: var(--color-surface);
  border-radius: 0.5rem;
  display: grid;
  gap: 1rem;
  grid-template: 7rem repeat(5, 4rem) / repeat(4, 4rem);
  padding: 2rem;
}

.calculator__output {
  align-items: center;
  background-color: var(--color-output);
  border-radius: 0.5rem;
  color: var(--color-text-secondary);
  display: flex;
  font-size: 3rem;
  grid-column: 1 / 5;
  justify-content: flex-end;
  margin-bottom: 1rem;
  overflow: hidden;
  padding-inline: 1.5rem;
  text-wrap: nowrap;
}

.calculator__input {
  align-items: center;
  background-color: var(--color-subsurface);
  border: none;
  border-radius: 0.5rem;
  color: var(--color-text-primary);
  display: flex;
  font-size: 2rem;
  justify-content: center;
  transition: opacity 0.25s;
}

.calculator__input:focus-visible {
  outline: 2px solid var(--color-text-primary);
}

.calculator__input:hover {
  cursor: pointer;
}

.calculator__input:active {
  opacity: 0.9;
}

.calculator__input--delete {
  background-color: var(--color-delete);
  color: var(--color-text-secondary);
}

.calculator__input--operation {
  background-color: var(--color-operation);
  color: var(--color-text-secondary);
}

#equals.calculator__input {
  grid-area: 5 / 4 / 7 / 4;
}

#zero.calculator__input {
  grid-column: 1 / 3;
}
