@font-face {
  font-family: "Arial Rounded MT Bold";
  src: url("/arialroundedmtbold.ttf");
}

:root {
  --color-background: #1a1a1a;
  --color-surface: #333333;
  --color-subsurface: #4d4d4d;
  --color-text: #ffffff;
  --color-ouput: #72a079;
  --color-operation: #608cab;
  --color-delete: #bb4948;
}

:root {
  --dark-1: hsl(0, 0%, 10%);
  --dark-2: hsl(0, 0%, 20%);
  --dark-3: hsl(0, 0%, 30%);
  --light-1: hsl(0, 0%, 90%);
  --blue: #608cab;
  --green: #72a079;
  --red: #bb4948;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: "Arial Rounded MT Bold", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  align-items: center;
  background-color: var(--dark-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.calculator {
  background-color: var(--dark-2);
  border-radius: 0.5rem;
  display: grid;
  gap: 1rem;
  grid-template: 7rem repeat(5, 4rem) / repeat(4, 4rem);
  padding: 2rem;
}

.output {
  align-items: center;
  background-color: var(--green);
  border-radius: 0.5rem;
  color: var(--dark-2);
  display: flex;
  font-size: 3rem;
  grid-column: 1 / 5;
  justify-content: flex-end;
  margin-bottom: 1rem;
  overflow: hidden;
  padding-inline: 1.5rem;
  text-wrap: nowrap;
}

.input {
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  transition: opacity 0.25s;
}

.input:focus-visible {
  outline: 2px solid var(--light-1);
}

.input:hover {
  cursor: pointer;
}

.input:active {
  opacity: 0.9;
}

.operation.delete.input {
  background-color: var(--red);
}

.operation.input {
  background-color: var(--blue);
  color: var(--dark-2);
}

.number.input {
  background-color: var(--dark-3);
  color: var(--light-1);
}

#equals.operation.input {
  grid-area: 5 / 4 / 7 / 4;
}

#zero.input {
  grid-column: 1 / 3;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 12px;
  }
}
